body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.main-heading {
    color: #333;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #000000;
}

.login-button {
    margin-top: 2rem;
}

.welcome-logo {
    max-width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

