.profile-container {
    max-width: 100%;
    margin-bottom: 30px;

}

.slide-container {
    max-width: 60%;
    height: 80%;
    margin: auto;

}

.info-container {
    max-width: 60%;
    width: 80%;
    padding-bottom: 100px;
    margin: auto;

}

.info-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-container button:hover {
    background-color: #0056b3;
}

