.pets-page {
    padding: 20px;
}


.main-content {

    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
a {
    color: white;
    text-decoration: none;

}


.card {
    border: 1px solid black;
    border-radius: 16px;
    overflow: hidden;
    width: 200px;
    height: 400px;
    background-color: rgb(10, 10, 10);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.card:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}



.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    margin: 10px;
}

.card-title {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.card-description {
    font-size: 1rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.card-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    gap: 30px;
}



.sidebar {
    width: 250px; /* Adjust width as needed */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 40px;
    color: white;
}

.search-bar, .search-options {
    margin-bottom: 20px;
}

.search-options label, .search-options select, .search-options input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.search-options input[type="text"], .search-options input[type="number"], .search-options select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-options label {
    margin-bottom: 5px;
    font-weight: bold;
}

.search-options .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-options .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

.search-options button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-options button:hover {
    background-color: #0056b3;
}